/* 작성자 이름과 게시물 작성 시간을 포함한 스타일을 정의합니다 */
.post-info {
  display: flex;
  flex-direction: column;
  margin-left: 10px;
  margin-top: 30px;
  
}

.writer-name {
  font-size: 20px;
  font-weight: bold;
  margin-right: 5px;
  margin-bottom: 3px; /* 아래쪽 여백을 줄입니다 */
}

.writer-dongne {
  font-size: 15px;
  font-weight: bold;
  /* margin-top: 5px; */
  margin-bottom: 3px; /* 아래쪽 여백을 줄입니다 */
  color: rgb(160, 159, 159);
}

.post-time {
  font-size: 15px;
  font-weight: bold;
  /* margin-top: 5px; */
  color: rgb(160, 159, 159);
}

/* 둥근 모서리를 가진 사각형 컨테이너를 만듭니다 */
.rectangle-container {
  width: 100px; /* 사각형의 가로 크기 */
  height: 50px; /* 사각형의 세로 크기 */
  background-color: #508BFC; /* 배경색 */
  border-radius: 30px; /* border-radius를 통해 모서리를 둥글게 만듭니다 */
  display: flex; /* 내부 요소를 가운데 정렬하기 위해 flexbox를 사용합니다 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  position: relative; /* 내부 텍스트를 배치하기 위해 상대 위치(relative position)를 설정합니다 */
  margin-top: 10px;
  margin-left: 20px;
}

/* 사각형 안에 들어갈 텍스트 스타일을 정의합니다 */
.text {
  color: white; /* 텍스트 색상 */
  font-size: 20px; /* 텍스트 크기 */
  font-weight: bold; /* 텍스트 굵기 */
  position: absolute; /* 텍스트를 원 안에 상대 위치로 배치합니다 */
  top: 50%; /* 텍스트를 수직 중앙에 배치하기 위해 상단 여백을 50%로 설정합니다 */
  left: 50%; /* 텍스트를 수평 중앙에 배치하기 위해 왼쪽 여백을 50%로 설정합니다 */
  transform: translate(-50%, -50%); /* 텍스트를 정확한 가운데로 이동시킵니다 */
  width: 100%; /* 텍스트 너비를 100%로 설정하여 원 안에 가득 차도록 합니다 */
  text-align: center; /* 텍스트 가운데 정렬 */
}


.profile-img {
  border-radius: 50%; /* 원 모양으로 프로필 이미지를 만듭니다 */
  width: 100px;
  border: 1px solid black;
  margin-left: 20px;
  margin-top: 10px;
  height: 100px;
}

.profile-img-container {
  display: flex;
  /* justify-content: center; */
  align-items: center;
}